<p>Result was confirmed: {{if confirmed 'YES' 'NO'}}</p>

<button onclick={{action "showDialog"}}>Show Dialog</button>

{{#ember-remodal-redux
    registerModalManager=(action (mut modalManager))
    as |modal|}}
  <p>Hello World!</p>
  {{#modal.cancel}}<button>Cancel</button>{{/modal.cancel}}
  {{#modal.confirm}}<button>Ok</button>{{/modal.confirm}}
{{/ember-remodal-redux}}
